<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164705234727-1g99g4h0gdme1lm75qraivkg73c8dfd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164705234727-1g99g4h0gdme1lm75qraivkg73c8dfd7</string>
	<key>API_KEY</key>
	<string>AIzaSyDTb972qNGJzUWUenLwZ4PJx-A0XXpF5KI</string>
	<key>GCM_SENDER_ID</key>
	<string>164705234727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.MoodAway</string>
	<key>PROJECT_ID</key>
	<string>moodaway-93bdc</string>
	<key>STORAGE_BUCKET</key>
	<string>moodaway-93bdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164705234727:ios:aabc2bdfc578718b7b8302</string>
</dict>
</plist>